.t_shadow {
    text-shadow: 0px 0px 4px rgb(214, 27, 27);
}

.b_shadow {
    box-shadow: 10px 10px 10px rgb(255, 242, 0);
}

.b_shadow2 {
    box-shadow: 10px 10px 12px rgb(0, 238, 255);
    height: 300px;
    width: 300px;

}

.img_ratio {
    height: 300px;
    width: 400px
}

.d_shadow {
    filter: drop-shadow(5px 7px 5px rgb(153, 45, 219));
    height: 300px;
    width: 300px;
}