div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}

.linear {

    background: linear-gradient(red, green, yellow, blue, pink);

}

.linear2 {
    background: linear-gradient(to right, red, green, yellow, pink, purple);
}

.linear3 {
    background: linear-gradient(to left, red, green, yellow, pink, purple);
}
.linear4 {
    background: linear-gradient(to top,red,pink,yellow,green);
}
.radial {
    background: radial-gradient(circle, black, green, yellow, pink, purple);
}
.conic {
    background: conic-gradient(from 90deg,black,red,white,blue);
}